#add_wocs_options{width:100%;position:relative;display:inline-block;margin-bottom:15px}
.wrap.postbox{padding:10px 24px 12px}
.msg{color:green;font-size:14px}
#btn_submit{float:left;margin-right:15px}
.wcpoa-name-txtbox textarea{width:50%}
